.hotTopics {
    @include container(50px);
    &__title {
        font-size: 2.4rem;
        color: $black;
    }
    &__items {
        width: 100%;
        display: flex;
        position: relative;
        img {
            width: 70%;
            border-radius: 15px;
            transition: all 0.5s ease-in-out;
            &:hover {
                filter: grayscale(40%);
                filter: blur(20%);
            }
        }
        &--newsTitle {
            position: absolute;
            left: 40px;
            bottom: 60px;
            z-index: 20;
            font-size: $fontSizeBig;
            text-align: left;
            width: 35%;
            font-family: $fontNews;
            a {
                color: $white;
                text-decoration: none;
            }
        }
        &--info {
            position: absolute;
            bottom: 40px;
            left: 40px;
            z-index: 20;
            p {
                display: inline;
                margin: 0 20px 0 0;
                color: $white;
            }
        }
        &--text {
            padding: 0 50px;
            width: 325px;
            text-align: left;
            font-size: $fontSizeNormal;
            font-family: $fontNews;
            line-height: 40px;
            color: $gray;
            span {
                font-size: $fontSizeBig;
            }
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}